body {
  font-size: 18px;
  /*桌面修改*/
}

/* 主要问答区 */
#primary {
  position: relative;
  width: 70vw;
  left: 10vw;
  top: 10vw;
  margin-bottom: 300px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden visible;
}

input-component {
  position: fixed;
  width: 70vw;
  left: 15vw;
  bottom: 50vh;

}

question-component {
  margin-bottom: 50px;
  display: flex;
  flex-direction: row-reverse;
}

answer-component {
  width: 100%;
  margin-bottom: 50px;
  display: flex;
}

/* 多端适配  */

@media (max-width:800px) {
  body{
    /* background: red; */
  }

  input-component{
    width:85vw;
    left:10px;
  }


  
}